h2 {
    border: 2px solid blue
}

.wrapper {
    background-color: rgb(157, 157, 244);
    
}
.wrapper h1 {
    background-color: rgb(72, 72, 248);
    display: inline;
    font-style: italic;
    outline-style: dashed;
}
button {
    color: skyblue;   
    width: 80px; 
    height: 30px;
    background-color: blue;
}
a:active {
    color: red !important;
}
a:visited {
    color: chocolate;
}
a:hover {
    color: orange;
}
